@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(images/AA.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.container {
max-width: 1200px;
margin: 0 auto;
}

h2{
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    color:darkolivegreen;
    margin-bottom: 25px;
}

p{
    font-size: 16px;
    color: darkkhaki;
    margin-bottom: 35px;
}
 
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{ 
    font-size: 25px;
    color: aliceblue;
    font-weight: 800;
}

.menu .navbar u1 li {
    position: relative;
    float: left;
}

.menu .navbar u1 li a {
    font-size: 18px;
    padding: 20px;
    color: lightblue;
}

.menu .navbar u1 li a:hover {
    color:aliceblue;
}

#menu{
    display: none;
}


.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 55px;
    color: bisque;
    font-weight: 800;
    margin-bottom: 35px;
}